---
import { NEWS } from "@/consts/News";
---

<section class="bg-black text-white py-12 px-4">
    <div class="text-center mb-8">
        <p class="text-red-600 font-bold uppercase text-lg">Nuestro Blog</p>
        <h2 class="text-3xl text-white font-extrabold uppercase">
            Últimas Noticias
        </h2>
    </div>

    <div class="flex justify-center items-center xl:items-start mt-6">
        <div class="flex overflow-x-auto space-x-4 xl:space-x-4 scrollbar-hide">
          {NEWS.map((news) => (
            <div
              class="bg-gray-700/50 p-6 rounded-lg shadow-md w-80 flex-shrink-0"
              id={news.id}
            >
              <div>
                <img src={news.imagen} alt={news.titulo} class="rounded-lg w-full" />
              </div>
              <!-- Fecha de la tarjeta -->
              <p class="text-sm text-gray-500 mt-6">{news.fecha}</p>
              <!-- Título -->
              <h3 class="text-lg font-bold mb-4">{news.titulo}</h3>
              <a
                class="text-white text-sm font-medium border-[3px] border-white rounded bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mt-2"
                href="#"
              >
                Leer más
              </a>
            </div>
          ))}
        </div>
    </div>

    <div class="flex items-center justify-center mt-4">
          <a
          class="text-white text-sm font-medium border-[3px] border-white rounded bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mt-2"
          href="/News"
          >
          Más noticias
        </a>
    </div>
</section>
