---
import { MATCHES } from "@/consts/Matches";
import { TEAMS } from "@/consts/Teams";

const getRival = (rivalId: string) =>
    TEAMS.find((rival) => rival.id === rivalId);
const teamId = "tecnico-universitario";
---

<section class="bg-white text-black py-12 px-4">
    <div class="text-center mb-8">
        <p class="text-red-600 font-bold uppercase text-sm">Calendario</p>
        <h2 class="text-3xl font-extrabold">LIGA PRO</h2>
    </div>
    <!-- CARD -->
    <div class="flex justify-center items-center xl:items-start mt-6">
        <div class="flex overflow-x-auto space-x-4 xl:space-x-4 scrollbar-hide">
            {
                MATCHES.map((match) => {
                    const rival = getRival(match.rivalId);
                    const team = getRival(teamId);
                    return (
                        <div
                            class="bg-gray-100 p-6 rounded-lg shadow-md w-96"
                            id={match.id}
                        >
                            <h3 class="text-lg font-bold text-center mb-4">
                                {match.stage} - Fecha {match.matchweek}
                            </h3>

                            <div class="flex justify-between items-center mb-6">
                                <div class="text-center">
                                    <img
                                        src="/src/assets/escudo.svg"
                                        alt={team?.name}
                                        class="h-12 w-12 mx-auto mb-2"
                                    />
                                    <p class="font-bold text-xl">
                                        {team?.shortName}.
                                    </p>
                                </div>
                                <p class="text-3xl font-bold"> vs </p>
                                <div class="text-center">
                                    <img
                                        src={`/img/teams/${match?.rivalId}.webp`}
                                        alt={rival?.name}
                                        class="h-12 w-auto mx-auto mb-2"
                                    />

                                    <p class="font-bold text-xl">
                                        {rival?.shortName}
                                    </p>
                                </div>
                            </div>

                            <p class="text-sm text-gray-500 text-center mt-6">
                                {match.date} -{" "}
                                {match.isHome ? team?.stadium : rival?.stadium}{" "}
                            </p>
                            <p class="text-sm text-gray-500 text-center">
                                {match.hour}
                            </p>
                        </div>
                    );
                })
            }
        </div>
    </div>
    <div class="flex items-center justify-center mt-4">
        <a
            class="text-black text-sm font-medium border-[3px] border-black rounded bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-black hover:text-white transition-colors mt-2"
            href="#"
        >
            Ver calendario completo
        </a>
    </div>
</section>
